<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.payu.testapp" platformBuildVersionCode="23" platformBuildVersionName="6.0-2704002">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name="com.payu.testapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.payu.payuui.Activity.PayUBaseActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/title_activity_payments" android:name="com.payu.payuui.Activity.PaymentsActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_payments" android:name="com.payu.payuui.Activity.OldPaymentActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_payments" android:name="com.payu.payuui.Activity.VerifyApiActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.payu.payuui.Activity.MerchantCheckoutActivity"/>
        <activity android:launchMode="singleTop" android:name="com.payu.custombrowser.CBActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <service android:name="com.payu.custombrowser.services.SnoozeService"/>
        <activity android:name="com.payu.magicretry.MainActivity"/>
    </application>
</manifest>

<!--com.laminin.decompiledapp-->